<% provide(:title, '本の登録') %>
   <div class = "bottom-index">
    <div class="row">
       <div class="col-md-6 col-md-offset-3">
        <div class = "sucoshi">
            <h1 class = "brown">本の登録</h1>
            <%= form_with(model: @book, local: true) do |f| %>
               <%= render 'shared/error_messages' %>
                  <div class = "sucoshi">
                              <%= f.label :本のタイトル,style: 'display: inline-block;width: auto;'  %>   <%= f.label :※必須 ,style: 'display: inline-block;width: auto; color: red;'  %>
                              <%= f.text_field :title, class: 'form-control',placeholder:"本のタイトルを書いてください。" %>
                  </div>
                  
                  <div class = "sukima">
                  <%= f.label :出版日 ,style: 'display: inline-block;width: auto;'%>  <%= f.label :※必須 ,style: 'display: inline-block;width: auto; auto; color: red;'  %>
                  <%= f.date_select :new_date, {start_year: 1950,end_year: (Time.now.year),default: Date.new(2021, 1, 1)}, {class: 'form-control', style: 'display: inline-block;width: auto;'} %>
                  </div>  

                  <div class = "sukoshi">
                  <%= f.label :作者,style: 'display: inline-block;width: auto;' %>  <%= f.label :※任意 ,style: 'display: inline-block;width: auto;auto;' %>
                  <%= f.text_field :author, class: 'form-control',placeholder:"本の作者を書いてください。" %>
                  </div>

                  <div class = "sukoshi">
                  <%= f.label :総ページ数,style: 'display: inline-block;width: auto;' %>   <%= f.label :※必須 ,style: 'display: inline-block;width: auto; auto; color: red;'  %>
                  <%= f.text_field :page, class: 'form-control',placeholder:"数字/半角のみです。" %>
                  </div>
                  
                  <div class = "shita">
                  <%= f.label :画像,style: 'display: inline-block;width: auto;' %>  <%= f.label :※必須 ,style: 'display: inline-block;width:auto;  color: red;' %>
                  <%= f.file_field :picture, class: 'form-control' %>    
                  </div>
                  

                  <div class = "sucoshi">
                              <%= f.submit "保存", class: "btn btn-success", style: 'background-color: rgba(91, 33, 0, 0.97);border-color: rgba(91, 33, 0, 0.97);'%> 
                  </div>

                  <div class = "sucoshi">
                  <%= link_to image_tag("/yaji2.png", class:"turn"), books_path  %>
                  </div>
            <% end %>   
        </div>
     </div>
  </div>
</div>
                    