<% provide(:title, @book.title) %>
<div class="row">
     <div class =  "space">
         <h1 class = "brown"><%= @book.title %></h1>
               <p>
                  作者:<%= @book.author %>
               </p>
               </p>
               <p>
                  出版日:<%= l @book.new_date %>
               </p>
               <p>
                  総ページ数:<%= @book.page %>
               </p>
               <p>
               作成日:<%= l @book.created_at %> / 更新日:<%= l @book.updated_at%>
               </p>
            <%= link_to image_tag("/yaji2.png", class:"turn"), index_path  %>
</div>