<% provide(:title, @book.title) %>
<div class="row">
     <div class =  "space">
         <h1 class = "shiori"><%= @book.title %></h1>
            <p>
               作者:<%= @book.author %>
            </p>
            </p>
            <p>
               出版日:<%= @book.new_date %>
            </p>
            <p>
               総ページ数:<%= @book.page %>
            </p>

            <%= link_to image_tag("/u_trun.png", class:"turn"), index_path  %>
</div>