<header class="navbar navbar-fixed-top " style ="background-color:#0B3B0B;">
    <div class="container">
       <%= link_to "SHIORI", root_path, id: "logo" %>
         <nav>
            <ul class="nav navbar-nav navbar-right text-white" style ="background-color:#0B3B0B;">
               <% if logged_in? %>
                        <li><%= link_to "Home", root_path %></li>
                        <li><%= link_to "BOOK", books_path %></li>
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                         <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                        <li><%= link_to "Profile", current_user %></li>
                        <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                        <li class="divider"></li>
                        <li><%= link_to "Log out", logout_path, method: :delete %></li>
                        </ul>
                        </li>
                <% else %>
                      <li><%= link_to "Log in", login_path, class: "log_in" %></li>
                <% end %>
             </ul> 
        </nav>
    </div>
</header>